/* TYPE FACES */

@font-face {
    font-family: 'Suisse Intl';
    src: url(/assets/SuisseIntl-Medium.otf)  format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url(/assets/SuisseIntl-MediumItalic.otf)  format("opentype");
    font-weight: normal;
    font-style: italic;
}

/* RESET CSS DEFAULTS */

html, body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, img, header, footer, main, nav, section, iframe, img, input, table, caption, tbody, tfoot, thead, tr, th, td,
article {
    position: relative;
    display: block;
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ROOT STYLES */

html, body, #wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 1.2;
    font-size: 12pt;
    font-family: 'Suisse Intl', Arial;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    kerning: auto;
}

ol, ul {
	list-style: none;
}

a, a:active, a:visited {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: initial;
    text-decoration: none;
}

h1 {
    font-size: 6em;
    line-height: 1;
    text-align: center;
}
h2 {
    font-size: 4em;
    line-height: 1;
    text-align: center;
}
h3 {
    font-size: 3em;
}
h4 {
    font-size: 2em;
}
h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.25em;
}

p {
    line-height: 1.5;
}

img{
    max-width: 100%;
}

/* FRAMEWORK STYLES */

#wrapper {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

nav#site_nav{
    width: 100%;
    height: 0;
    overflow:visible;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 100;
}

nav#site_nav > * {
    background-color: white;
    padding: 1em;
}

nav#site_nav a, nav#site_nav a:active, nav#site_nav a:visited {
    color: initial;
    text-decoration: none;
}

nav#site_nav a:hover {
    color: var(--accent-color);
    text-decoration: none;
}

/* DERJA OPTION */

#language_select {
    direction: ltr;
}

#wrapper.derja {
    text-align: right;
    direction:rtl;
}

main#site_main_derja {
    display: none;
    
}

#wrapper.derja main#site_main_derja {
    display: block;
}

#wrapper.derja main#site_main {
    display: none;
}

nav#site_nav a#english_button{
    color: var(--accent-color);
}

#wrapper.derja nav#site_nav a#derja_button{
    color: var(--accent-color);
}

#wrapper.derja nav#site_nav a#english_button{
    color: inherit;
}

#wrapper.derja nav#site_nav #menu .page_link_box {
    margin-left: 0;
    margin-right: 2em;
    text-indent: -1em;
}

nav#site_nav #menu a.derja_link, footer a.derja_link {
    display: none;
}

#wrapper.derja nav#site_nav #menu a.derja_link, #wrapper.derja footer a.derja_link {
    display: block;
}

#wrapper.derja nav#site_nav #menu a.english_link, #wrapper.derja footer a.english_link {
    display: none;
}

#wrapper.derja #menu #menu_button a::after{
    content: "القائمة";
}

#wrapper.derja #menu.active #menu_button a::after{
    content: "";
}

/* MAIN MENU */

#menu #menu_button a{
    display: block;
    width: 100%;
}

#menu {
    max-height: 3em;
    max-width: 50%;
}

#menu.active {
    max-height: none;
}

#menu #menu_button a::before{
    content: "→ ";
}
#menu #menu_button a::after{
    content: "Menu";
}

#menu.active #menu_button a::before{
    content: "↓ ";
}
#menu.active #menu_button a::after{
    content: "";
}

#menu .page_link_box {
    visibility: hidden;
    margin-left: 2em;
    text-indent: -1em;
}

#menu.active .page_link_box {
    visibility: visible;
}

/* MAIN STYLES (PACING & SPACING) */

main > *:first-child {
    margin-top: 1rem;
}

main > * {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

main > p {
    max-width: 600px;
}

/* STYLING PHOTOS */

main > p:has(img) {
    max-width: 100%;
    padding: 0;
    margin-top: 3rem;
}

main > p:has(img):last-of-type {
    max-width: 100%;
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 0;
}

main > p:has(img) > img {
    max-height: 100vh;
    width:100%;
    object-fit: cover;
}

main > h1:has(img), main > h2:has(img) {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 3rem;
}

main > h1:has(img) {
    max-width: 900px;
}

main > h2:has(img) {
    max-width: calc(600px - 4rem);
}

/* HOME PAGE */

#header_img {
    margin-top: 4rem;
    height: 8rem;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* FOOTER STYLES */

footer {
    padding: 2rem max(calc((100% - 900px + 4rem)/2),2rem);
    background-color: var(--accent-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

footer a, footer a:active, footer a:visited {
    color: white;
}

footer a:hover {
    color: inherit;
}

footer #contact_info, footer #location_info  {
    min-width: 33.33%;
}

footer #location_info {
    text-align: right;
}

footer #site_map {
    margin-bottom: 1rem;
    text-align: center;
    justify-self: center;
}

footer #site_map_title {
    /* text-decoration: underline;
    text-decoration-thickness: 1.5pt; */
}

footer #credits {
    width: 100%;
    padding: 0 calc((100% - 300px) / 2);
    margin-top: 3rem;
    font-size: 0.75rem;
    text-align: center;
}

/* SOCIAL MEDIA LINKS STYLES */

.socialmedia_link {
    display: inline-block;
    height: 1.5rem;
    margin-bottom: 0.5rem;
}

.socialmedia_link:not(:first-of-type) {
    margin-left: 0.5rem;
}

.socialmedia_link img{
    height: 100%;
    width: auto;
}

/* HEADER */

header {
    padding: 1em;
}

header #header_img {
    margin-top: 0;
    height: 3rem;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
/* NEWSLETTER */

#mc_embed_shell {
    background-color: black;
    color: white;
    max-width: 100%;
    width: 100%;
    padding: 2rem;
}

#mc_embed_shell:last-child {
    margin-bottom: 0;
}

#mc_embed_shell form {
    max-width: calc(600px - 4rem);
    margin-right: auto;
    margin-left: auto;
}

#mc_embed_shell form input {
    margin-top: 0.5rem;
    padding: 0.5rem;
}

#mc_embed_shell form input[type="submit"] {
    background-color: var(--accent-color);
}

#mc_embed_shell form input[type="submit"]:hover {
    background-color: white;
    color: var(--accent-color);
}

#mc_embed_shell form .indicates-required {
    font-size: 0.75rem;
    text-align: right;
    display: none;
}

#mc_embed_signup_scroll > * {
    margin-bottom: 1rem;
}

/* #mc_embed_shell h4 {
    text-align: center;
} */

/* MOBILE */

@media only screen and (max-width: 600px) {
    header {
        padding: 3em 1em 0 1em;
    }
}

@media only screen and (max-width: 510px) {
    footer {
        justify-content: center;
    }
    footer * {
        text-align: center;
    }
    footer > * {
        width: 100%;
    }
    footer #site_map{
        margin-right: 0;
    }
    #location_icon {
        display: none;
    }
    #site_map {
        order: -1;
    }
}
