<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>drawiin دراوين</title>
	<style>
		:root {
		--accent-color: {{site.accent_color}};
		}
	</style>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link rel="icon" type="image/png" href=/assets/favicon.png">
	<link rel='preload' href='/assets/SuisseIntl-Medium.otf' as='font' type='font/otf' crossorigin='anonymous'>
	<link rel='preload' href='/assets/SuisseIntl-MediumItalic.otf' as='font' type='font/otf' crossorigin='anonymous'>
</head>