<nav id="site_nav">
    <ul id="menu">
	{% if site.pages %}
        <li id="menu_button" class="page_link">
            <a class="page_link" href="javascript:openMenu()"></a>
        </li>
        {% assign current_page = page.title %}
        {% for page in site.pages %}
            {% if page.title and page.title != current_page and page.published%}
                <li class="page_link_box">
                    <a href="{{page.url}}" alt="{{page.title}}" class="page_link">{{page.title}}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    </ul>
    <div id="language_select">
        <a href="?language=english" id="english_button">en</a> / <a href="?language=derja" id="derja_button">تو</a>
    </div>
</nav>